    /* Poppins --> */ @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1
{
    color: #fff;
    font-size: 40px;
    margin-top: 30px;
    text-transform: uppercase;
}

.container
{
    width: 100%;
    display: flex;
    padding: 40px 60px;
    border-radius: 12px;
    flex-direction: column;
}

.newtask
{
    padding: 15px 40px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);  
    border-radius: 8px 8px 0px 0px;
    background-blend-mode: multiply,multiply;
}

.newtask input
{
    width: 100%;
    font-size: 18px;
    padding: 4px 12px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.newtask #add
{
    width: 100%;
    font-size: 16px;
    padding: 3px 8px;
    margin-top: 5px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: none;
    background: rgb(73, 219, 73);
    border-radius: 5px;
}

.newtask #add:hover
{
    background: rgb(0, 245, 0);
}


#tasks
{
    background-image: linear-gradient(to right, #434343 0%, black 100%);    border-radius: 0px 0px 8px 8px;
    padding: 10px 40px;
}

.task
{
    width: 100%;
    font-size: 18px;
    padding: 4px 12px;
    font-weight: 400;
    position: relative;
    margin-bottom: 5px;
    border-radius: 3px;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);    color: #fff;
    flex-wrap: wrap;
}

.delete
{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    background: rgb(207, 41, 41);
    color: #fff;
    font-weight: 100;
    cursor: pointer;
}

.delete:hover
{
    background: rgb(255, 0, 0);
}
